html {
    min-width: 230px;
    border-radius: 7px;
}

body {
    background-color: rgb(241, 241, 241);
}

input {
    margin-bottom: 5px;
    margin-top: 5px;
}

button {
    margin-bottom: 15px;
    margin-top: 10px;
}